body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f7fa;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 30px auto;
}

.main-content {
  width: 700px;
  padding: 105px 90px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.about {
  margin-bottom: 40px;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-description {
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.projects-list {
  padding: 0;
  margin-left: 15px;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.project,
.project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-link {
  margin-left: 10px;
}

.project-bracket {
  font-weight: 700;
}

.work {
  margin-bottom: 50px;
  width: 500px;
}

.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.work-organization {
  color: #fb6d3a;
  margin-bottom: 10px;
}

.period {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.line {
  color: black;
}

.work-list {
  padding: 0;
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.education-organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.major {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.period-education {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.sidebar {
  width: 370px;
  padding-top: 40px;
  background-color: #1e2939;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
  margin-bottom: 60px;
  color: #ffffff;
}

.contact-element {
  margin-bottom: 0;
  margin-top: 0;
}

.contact-type {
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.soft-skill-list,
.tech-skill-list {
  padding: 0;
  margin-left: 15px;
}

.tech-skill-item,
.soft-skill-item {
  color: #fb6d3a;
}

.tech-skill-text,
.soft-skill-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
